.card {
  position: relative;
}

.card .card__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card .card__header .card__title {
  margin: 0;
  text-transform: uppercase;
}

.card .card__images {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card__images img {
  min-height: 100%;
  min-width: 100%;
  max-width: 600px;
  position: relative;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  left: 0;
  height: 270px;
}

.card .card__images .card__control_container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card__images .card__control_container .card__photo_control {
  height: 100%;
  position: relative;
  z-index: 2;
}

.card .card__footer {
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card__footer .card__more {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  background: transparent;
  border: none;
  cursor: pointer;
}

.card .card__footer .card__price {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

.card .card__footer .card__price i {
  font-size: 20px;
  font-style: normal;
  color: #94d513;
}

.card .card__footer .card__control div {
  height: 12px;
  width: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
}

.card .card__footer .card__control div.active {
  background-color: #94d513;
}

@media (max-width: 1300px) {
  .card .card__header {
    padding: 8px;
  }
  .card .card__footer {
    padding: 8px;
  }
  .card .card__footer .card__more {
    font-size: 10px;
  }
  .card .card__footer .card__price {
    font-size: 10px;
  }
  .card .card__footer .card__price i {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .card .card__header {
    padding: 5px;
  }
  .card .card__images img {
    max-height: 240px;
    height: 240px;
  }
  .card .card__footer {
    padding: 5px;
  }
}

@media (max-width: 780px) {
  .card__control_container {
    display: none !important;
  }
}

@media (max-width: 540px) {
  .card .card__header {
    font-size: 12px;
  }
  .card .card__images img {
    max-height: 200px;
    height: 200px;
  }
  .card .card__footer .card__more {
    font-size: 9px;
  }
  .card .card__footer .card__price {
    font-size: 9px;
  }
  .card .card__footer .card__price i {
    font-size: 12px;
  }
}
/*# sourceMappingURL=card.css.map */