* {
  outline: none;
}

html, body {
  font-family: 'Open Sans', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
  min-height: 100vh;
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: 22% 78%;
  }
}

@media (max-width: 970px) {
  .grid {
    grid-template-columns: 25% 75%;
  }
}

@media (max-width: 780px) {
  .grid {
    grid-template-columns: 8% 92%;
  }
}

@media (max-width: 490px) {
  .grid {
    grid-template-columns: 10% 90%;
  }
}

@media (min-width: 780px) {
  .grid {
    grid-template-columns: 25% 75%!important;
  }
}