.main {
  height: 100%;
  min-height: 100vh;
}

.main .main__header {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.main .main__header .main__caption {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 52px;
  margin: 0;
}

.main .main__header .main__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .main__header .main__contact i {
  font-size: 32px;
  margin-right: 10px;
}

.main .main__header .main__contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main__header .main__contact .wrapper span {
  font-size: 20px;
  text-transform: uppercase;
}

.main .main__header .main__contact .wrapper a {
  color: #94d513;
  margin-top: 5px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
}

.main .main__content {
  padding: 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 350px))[4];
      grid-template-columns: repeat(4, minmax(320px, 350px));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-auto-rows: 1fr;
}

@media (max-width: 1800px) {
  .main .main__content {
    -ms-grid-columns: (minmax(320px, 350px))[3];
        grid-template-columns: repeat(3, minmax(320px, 350px));
  }
}

@media (max-width: 1500px) {
  .main .main__header {
    padding: 20px;
  }
  .main .main__header .main__caption {
    font-size: 42px;
  }
  .main .main__header .main__contact i {
    font-size: 24px;
  }
  .main .main__header .main__contact .wrapper span {
    font-size: 16px;
  }
  .main .main__header .main__contact .wrapper a {
    font-size: 24px;
  }
  .main .main__content {
    padding: 0 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media (max-width: 1300px) {
  .main .main__header {
    padding: 10px;
  }
  .main .main__header .main__caption {
    font-size: 36px;
  }
  .main .main__header .main__contact i {
    font-size: 20px;
  }
  .main .main__header .main__contact .wrapper span {
    font-size: 14px;
    text-transform: uppercase;
  }
  .main .main__header .main__contact .wrapper a {
    font-size: 20px;
  }
  .main .main__content {
    padding: 0 10px;
    -ms-grid-columns: (minmax(240px, 350px))[3];
        grid-template-columns: repeat(3, minmax(240px, 350px));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

@media (max-width: 970px) {
  .main .main__header .main__caption {
    font-size: 30px;
  }
  .main .main__header .main__contact i {
    font-size: 18px;
  }
  .main .main__header .main__contact .wrapper a {
    font-size: 18px;
  }
  .main .main__content {
    -ms-grid-columns: (minmax(210px, 350px))[2];
        grid-template-columns: repeat(2, minmax(210px, 350px));
  }
}

@media (max-width: 970px) {
  .main .main__header .main__caption {
    font-size: 24px;
  }
  .main .main__header .main__contact i {
    font-size: 16px;
  }
  .main .main__header .main__contact .wrapper a {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .main .main__header .main__caption {
    font-size: 20px;
  }
  .main .main__header .main__contact i {
    font-size: 14px;
  }
  .main .main__header .main__contact .wrapper span {
    font-size: 12px;
  }
  .main .main__header .main__contact .wrapper a {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .main .main__content {
    -ms-grid-columns: (minmax(180px, 350px))[2];
        grid-template-columns: repeat(2, minmax(180px, 350px));
  }
}

@media (max-width: 490px) {
  .main .main__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main .main__header .main__contact .wrapper span {
    display: none;
  }
  .main .main__content {
    -ms-grid-columns: (minmax(180px, 100%))[1];
        grid-template-columns: repeat(1, minmax(180px, 100%));
  }
}
/*# sourceMappingURL=main.css.map */