.main {
  height: 100%;
  min-height: 100vh;
  .main__header {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #333333;
    .main__caption {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 52px;
      margin: 0;
    }
    .main__contact {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      i {
        font-size: 32px;
        margin-right: 10px;
      }
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        span {
          font-size: 20px;
          text-transform: uppercase;
        }
        a {
          color: #94d513;
          margin-top: 5px;
          text-decoration: none;
          font-size: 30px;
          font-weight: 600;
        }
      }
    }
  }
  .main__content {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(4, minmax(320px, 350px));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-auto-rows: 1fr;
  }
}

@media (max-width: 1800px) {
  .main {
    .main__content {
      grid-template-columns: repeat(3, minmax(320px, 350px));
    }
  }
}

@media (max-width: 1500px) {
  .main {
    .main__header {
      padding: 20px;
      .main__caption {
        font-size: 42px;
      }
      .main__contact {
        i {
          font-size: 24px;
        }
        .wrapper {
          span {
            font-size: 16px;
          }
          a {
            font-size: 24px;
          }
        }
      }
    }
    .main__content {
      padding: 0 20px;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  }
}

@media (max-width: 1300px) {
  .main {
    .main__header {
      padding: 10px;
      .main__caption {
        font-size: 36px;
      }
      .main__contact {
        i {
          font-size: 20px;
        }
        .wrapper {
          span {
            font-size: 14px;
            text-transform: uppercase;
          }
          a {
            font-size: 20px;
          }
        }
      }
    }
    .main__content {
      padding: 0 10px;
      grid-template-columns: repeat(3, minmax(240px, 350px));
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
  }
}

@media (max-width: 970px) {
  .main {
    .main__header {
      .main__caption {
        font-size: 30px;
      }
      .main__contact {
        i {
          font-size: 18px;
        }
        .wrapper {
          a {
            font-size: 18px;
          }
        }
      }
    }
    .main__content {
      grid-template-columns: repeat(2, minmax(210px, 350px));
    }
  }
}

@media (max-width: 970px) {
  .main {
    .main__header {
      .main__caption {
        font-size: 24px;
      }
      .main__contact {
        i {
          font-size: 16px;
        }
        .wrapper {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    .main__header {
      .main__caption {
        font-size: 20px;
      }
      .main__contact {
        i {
          font-size: 14px;
        }
        .wrapper {
          span {
            font-size: 12px;
          }
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .main {
    .main__content {
      grid-template-columns: repeat(2, minmax(180px, 350px));
    }
  }
}

@media (max-width: 490px) {
  .main {
    .main__header {
      flex-direction: column;
      text-align: center;
      .main__contact {
        .wrapper {
          span {
            display: none;
          }
        }
      }
    }
    .main__content {
      grid-template-columns: repeat(1, minmax(180px, 100%));
    }
  }
}