.card {
  position: relative;
}
.card .card__text {
  width: 64%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 100%);
}
.card .card__text .card__product__text{
  width: 80%;
  height: 65%;
  position: absolute;
  top: 70px;
  left: 15px;
  color: black;
  font-size: 14px;
}
.card .card__header {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card .card__header h4 {
  font-size: 17px;
  font-weight: 500;
}

.card .card__header .card__title {
  margin: 0;
  text-transform: uppercase;
}

.card .card__btn {
  font-weight: 400;
  border-radius: 0;
  padding: 7px 25px;
  position: absolute;
  bottom: 20px;
  right: 45px;
  text-transform: uppercase;
  cursor: pointer;
}

.card .card__images, .main__content .modal .card__images {
  max-width: 100%;
  width: 35%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-wrapper, .modal-wrapper_more_photo {
  z-index: 999999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(195, 195, 196, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.main__content .modal {
  width: 50vw;
  height: 50vw;
}

.main__content .modal .content {
  padding: 0;
  width: 100%;
  height: 100%;
}

.main__content .modal .card__images {
  width: 100%;
}

.card .card_img_more_photo {
  width: 100%;
}

.card .card__images img, .main__content .modal .card__images img {
  min-height: 100%;
  min-width: 100%;
  max-width: 600px;
  position: relative;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  left: 0;
  height: 270px;
}

.main__content .modal .card__images img {
  width: 100%;
  height: 94%;
  min-height: 100px;
}

.main__content .modal .card__images .control {
  position: absolute;
  padding: 0 8px 3px;
  top: 50%;
  cursor: pointer;
  font-size: 25px;
  background-color: white;
  border-radius: 50%;
  z-index: 99999;
}

.main__content .modal .card__images .next {
  right: 5px;
}

.main__content .modal .card__images .last {
  left: 5px;
}

.card .card__images .card__control_container,
.main__content .modal .card__images .card__control_container{
  position: absolute;
  height: 100%;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card__images .card__control_container .card__photo_control,
.main__content .modal .card__images .card__control_container .card__photo_control {
  height: 100%;
  position: relative;
}

.card .card__footer, .main__content .modal .card__footer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__content .modal .card__footer {
  bottom: 0;
 }

.card .card__footer .card__price {
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 20px;
}

.card .card__footer .card__price i {
  font-size: 25px;
  font-style: normal;
  color: #94d513;
}

.card .card__control, .modal .card__control {
  width: 35%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 0;
  z-index: 9999;
}

.modal .card__control {
  background-color: rgba(0, 0, 0, 1);
}

.modal .card__control {
  width: 100%;
}

.card .card__control div, .modal .card__control div {
  height: 12px;
  width: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
}

 .card .card__control div.active, .modal .card__control div.active {
  background-color: #94d513;
}

@media (max-width: 1300px) {
  .card .card__footer .card__more {
    font-size: 10px;
  }
  .card .card__footer .card__price {
    font-size: 10px;
  }
  .card .card__footer .card__price i {
    font-size: 23px;
  }
}

@media (max-width: 970px) {
  .card .card__images img {
    max-height: 240px;
    height: 240px;
  }
  .card .card__footer {
    padding: 5px;
  }
}

@media (max-width: 780px) {
  .card__control_container {
    display: none !important;
  }
}

@media (max-width: 540px) {
  .card .card__header {
    font-size: 12px;
  }

  .card .card__footer .card__more {
    font-size: 9px;
  }
  .card .card__footer .card__price {
    font-size: 9px;
  }
  .card .card__footer .card__price i {
    font-size: 12px;
  }
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: 22% 78%;
  }
}

@media (max-width: 970px) {
  .grid {
    grid-template-columns: 25% 75%;
  }
}

@media (max-width: 780px) {
  .grid {
    grid-template-columns: 8% 92%;
  }
}

@media (max-width: 490px) {
  .grid {
    grid-template-rows: 160px 100%;
    grid-template-columns: 10% 90%;
  }
}

@media (min-width: 780px) {
  .grid {
    grid-template-columns: 25% 75%!important;
  }
}

@media screen and (max-width: 1700px) {
  .main__content .modal {
    width: 55vw;
    height: 55vw;
  }
  .main__content .modal .card__images img {
    height: 94%;
}
}

@media screen and (max-width: 1500px) {
  .main__content .modal {
    width: 62vw;
    height: 62vw;
  }
  .main__content .modal .card__images img {
    height: 94%;
}
}

@media screen and (max-width: 1300px) {
  .main__content .modal {
    width: 46vw;
    height: 46vw;
  }
  .main__content .modal .card__images img {
    height: 91%;
}
}

@media screen and (max-width: 1150px) {
  .main__header .main__caption {
    font-size: 28px;
  }
  .main__header .call_free {
    font-size: 13px;
    padding: 10px 12px;
  }
  .main__content .modal {
    width: 90%;
  }
  .main__content .modal .card__images img {

  }
  .main__content .modal {
    width: 50vw;
    height: 50vw;
  }
}

@media screen and (max-width: 1000px) {
  .main__header .main__caption {
    font-size: 25px;
  }
  .main__header .call_free {
    font-size: 13px;
    padding: 9px 11px;
  }
  .card .card__text .card__product__text {
    top: 60px;
    font-size: 13px;
  }
  .modal #contactForm > div > label {
    font-size: 11px;
  }
  .sidebar {
    height: 1300px;
  }
  .main__content .modal {
    width: 55vw;
    height: 55vw;
  }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  .main__content .modal {
    width: 80vw;
    height: 80vw;
  }
  .main__content .modal .card__images img {
    height: 93%;
  }
}

@media (max-width: 900px) {
  .main__header .main__caption {
    font-size: 21px;
  }
  .main__header .call_free {
    font-size: 11px;
    padding: 9px 11px;
  }
  .card .card__images img {
    height: 190px;
  }
  .card .card__header {
    top: 10px;
    width: 95%;
  }
  .card .card__text .card__product__text {
    font-size: 11px;
    top: 55px;
  }
  .card .card__btn, .card .card__footer .card__price {
    bottom: 3px;
  }
  .modal {
    width: 90%;
  }
  .main__content .modal {
    width: 57vw;
    height: 57vw;
  }
}

@media (max-width: 825px) {
  .main__header .main__caption {
    font-size: 19px;
  }
  .main__header .call_free {
    font-size: 10px;
    padding: 9px 9px;
  }
  .main__content .modal .card__images img {
  }
  .main__content .modal {
    width: 70vw;
    height: 70vw;
  }
}

@media (max-width: 760px) {
  .grid {
    grid-template-rows: 160px auto;
  }
  .main__header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    width: 95%;
    left: 10px;
    position: absolute;
    top: 0;
  }
  .main__header .main__contact.logo {
    width: auto;
    font-size: 16px;
  }
  .main__content .modal {
    width: 95%;
  }
  .main__header .main__contact.call {
    margin: auto;
  }
  .main__header .main__contact, .main__header .call_free {
    margin: 0 auto;
  }
  .main .main__content {
    padding: 0 10px;
  }
  .main__content .modal .card__images img {
  }
  .main__content .modal {
    width: 75vw;
    height: 75vw;
  }
  .card .card__header {
    top: 5px;
  }
  .card .card__header h4 {
    font-size: 14px;
    width: 80%;
  }
  .card .card__text .card__product__text {
    font-size: 12px;
    top: 55px;
  }
  .card .card__btn, .card .card__footer .card__price {
    bottom: 3px;
  }
  .card .card__images img {
    height: 200px;
  }
}

@media (max-width: 600px) {
  .card .card__btn {
    padding: 8px 10px;
    font-size: 10px;
    right: 15px;
  }
  .modal #contactForm > div > label {
    width: 90%;
    font-size: 9px;
  }
  .card .card__text .card__product__text {
    font-size: 9px;
    top: 45px;
  }
  .card .card__text .card__header h4 {
    font-size: 11px;
  }
  .card .card__images img {
    height: 160px;
  }
}

@media (max-width: 450px) {
  .card .card__header h4 {
    font-size: 10px;
  }
  .card .card__text .card__product__text {
    top: 42px;
    font-size: 7px;
  }
  .card .card__images img {
    height: 140px;
  }
  .card .card__btn {
    padding: 7px 9px;
    font-size: 8px;
    right: 15px;
  }
  .main__content .modal {
    width: 90vw;
    height: 90vw;
  }
  .main__content .modal .card__images img {
    height: 88%;
  }
}

@media (max-width: 370px) {
  .main__header .main__caption {
    font-size: 15px;
  }
  .card .card__btn {
    padding: 5px 7px;
    font-size: 7px;
    right: 45px;
  }
  .main__content .modal .card__images img {
    height: 85%;
  }
}

/*# sourceMappingURL=card.css.map */