.card {
  position: relative;
  .card__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    box-sizing: border-box;
    .card__title {
      margin: 0;
      text-transform: uppercase;
    }
  }
  .card__images {
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    img {
      min-height: 100%;
      min-width: 100%;
      max-width: 600px;
      position: relative;
      transition: 0.2s ease-in-out;
      left: 0;
      height: 270px;
    }
    .card__control_container {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;

      .card__photo_control {
        height: 100%;
        position: relative;
        z-index: 2;
      }
    }
  }
  .card__footer {
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .card__more {
      font-size: 14px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 600;
      background: transparent;
      border: none;
      cursor: pointer;
    }
    .card__price {
      font-size: 12px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 600;
      i {
        font-size: 20px;
        font-style: normal;
        color: #94d513;
      }
    }
    .card__control {
      div {
        height: 12px;
        width: 12px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        margin: 2px;
        cursor: pointer;
      }
      div.active {
        background-color: #94d513;
      }
    }
  }
}

@media (max-width: 1300px) {
  .card {
    .card__header {
      padding: 8px;
    }
    .card__footer {
      padding: 8px;
      .card__more {
        font-size: 10px;
      }
      .card__price {
        font-size: 10px;
        i {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .card {
    .card__header {
      padding: 5px;
    }
    .card__images {
      img {
        max-height: 240px;
        height: 240px;
      }
    }
    .card__footer {
      padding: 5px;
    }
  }
}

@media (max-width: 780px) {
  .card__control_container {
    display: none!important;
  }
}

@media (max-width: 540px) {
  .card {
    .card__header {
      font-size: 12px;
    }
    .card__images {
      img {
        max-height: 200px;
        height: 200px;
      }
    }
    .card__footer {
      .card__more {
        font-size: 9px;
      }
      .card__price {
        font-size: 9px;
        i {
          font-size: 12px;
        }
      }
    }
  }
}