@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  outline: none;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-areas: "pos-1 pos-1"
                       "pos-2 pos-3";
  grid-template-rows: 90px 95%;
  grid-template-columns: 20% 80%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

header {
  grid-area: pos-1
}
aside {
  grid-area: pos-2
}
main {
  grid-area: pos-3
}

.modal-wrapper.open, .modal-wrapper_more_photo.open  {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 40%;
  height: auto;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.modal .content {
  padding: 10px 5% 10px 5%;
}

.modal-wrapper.open .modal, .modal-wrapper_more_photo.open .modal {
  opacity: 1;
}

.modal .text {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
}

.modal .content #contactForm {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 'name phone'
                       'address address'
                       'polit polit'
                       'btn btn';
  height: 100%;
}
.modal #contactForm > div {
}
.modal #contactForm > div > label {
  font-weight: 900;
  font-size: 13px;
}
.modal #contactForm > div > input {
  margin-top: 5px;
  width: 100%;
  height: auto;
  border: 1px solid rgb(194, 191, 191);
  padding: 7px 0 7px 10px;
  font-weight: bold;
}

.modal #contactForm > div > input.empty_field {
    border: 1px solid red;
}

.modal #contactForm .name, .modal #contactForm .phone{
  width: 85%;
}

.modal #contactForm .address {
  width: 93%;
}

.modal #contactForm input[type="submit"] {
  margin: 0 auto;
  padding: 8px 23px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.modal #contactForm input[type="submit"].no_disabled {
  background: #c0c0c0;
  cursor: default;
}

.modal .content .name {
  grid-area: name
}

.modal .content .phone {
  grid-area: phone
}

.modal .content .address {
  grid-area: address
}

.modal .content .politics {
  grid-area: polit;
  font-size: 9px;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-areas: "check text";
}

.modal #contactForm > div > input[type="checkbox"] {
  grid-area: check;
  margin: 0;
}

.modal #contactForm > div > p {
  grid-area: text;
  margin: 0;
}

.modal .content input[type="submit"] {
  grid-area: btn;
}

.head {
  height: auto;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(77,148,53,1) 0%, rgba(148,213,19,1) 100%);
}
.head h5 {
  text-align: center;
  padding: 7px 0;
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}


