.galery {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
}

.galery .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999;
}

.galery .content {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999999;
  overflow: hidden;
  width: 700px;
  height: 540px;
}

.galery .content .photos {
  width: 700px;
  height: 540px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galery .content .photos img {
  width: 700px;
  height: 540px;
  position: relative;
  z-index: 1;
  display: inline-block;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.galery .content .controls {
  position: absolute;
  height: 100%;
  width: 100%;
}

.galery .content .controls .control {
  height: 100%;
  width: 30px;
  position: absolute;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #ffffff;
  border: none;
  cursor: pointer;
  z-index: 999999999;
}

.galery .content .controls .control:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.galery .content .controls .last {
  left: 0;
}

.galery .content .controls .next {
  right: 0;
}

@media (max-width: 870px) {
  .galery .content {
    width: 500px;
    height: 385px;
  }
  .galery .content .photos {
    width: 500px;
    height: 385px;
  }
  .galery .content .photos img {
    width: 500px;
    height: 385px;
  }
}

@media (max-width: 600px) {
  .galery .content {
    width: 280px;
    height: 220px;
  }
  .galery .content .photos {
    width: 280px;
    height: 220px;
  }
  .galery .content .photos img {
    width: 280px;
    height: 220px;
  }
}
/*# sourceMappingURL=galery.css.map */