.galery {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99999;
  }
  .content {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    overflow: hidden;
    width: 700px;
    height: 540px;
    .photos {
      width: 700px;
      height: 540px;
      z-index: 1;
      display: flex;
      img {
        width: 700px;
        height: 540px;
        position: relative;
        z-index: 1;
        display: inline-block;
        transition: 0.2s ease-in-out;
      }
    }
    .controls {
      position: absolute;
      height: 100%;
      width: 100%;
      .control {
        height: 100%;
        width: 30px;
        position: absolute;
        font-size: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.3);
        transition: 0.2s ease-in-out;
        color: #ffffff;
        border: none;
        cursor: pointer;
        z-index: 999999999;
      }
      .control:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transition: 0.2s ease-in-out;
      }
      .last {
        left: 0;
      }
      .next {
        right: 0;
      }
    }
  }
}

@media (max-width: 870px) {
  .galery {
    .content {
      width: 500px;
      height: 385px;
      .photos {
        width: 500px;
        height: 385px;
        img {
          width: 500px;
          height: 385px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .galery {
    .content {
      width: 280px;
      height: 220px;
      .photos {
        width: 280px;
        height: 220px;
        img {
          width: 280px;
          height: 220px;
        }
      }
    }
  } 
}