a {
  text-decoration: none;
}

.main {
  height: 100%;
  min-height: 100vh;
  width: 95%;
}

.main__header {
  width: 100%;
  padding-right: 10px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
}

.main__header .main__caption {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 27px;
  margin: 0 0 11px 10px;
}


.main__header .call_free {
  font-size: 15px;
  padding: 12px 23px;
  margin-right: 3%;
}

.trigger {
  cursor: pointer;
}

.gradient {
  color: white;
  border-radius: 2px;
  font-weight: bold;
  background: rgb(77,148,53);
  background: linear-gradient(90deg, rgba(77,148,53,1) 0%, rgba(148,213,19,1) 100%);
}

.main div > img {
  width: 100%;
  height: auto;
}

.main__header .main__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__header .main__contact.logo {
    width: 48%;
}

.main__header .main__contact.logo h1 {
  white-space: nowrap;
}

.main__header .main__contact.call {
    margin-right: 3%;
}

.main__header .main__contact i {
  font-size: 19px;
  margin-right: 10px;
}

.main__header .main__contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__header .main__contact .wrapper span {
  font-size: 14px;
  text-transform: uppercase;
}

.main__header .main__contact .wrapper a {
  color: #94d513;
  margin-top: 5px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
}

.main .main__content {
  width: 100%;
  padding: 0 30px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 100%));
  grid-column-gap: 30px;
  grid-row-gap: 25px;
}


/*# sourceMappingURL=main.css.map */