.sidebar {
  height: 1400px;
  min-height: 100vh;
  background-color: #e6e6e6;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.sidebar_new_height {
  height: 950px;
}

.slider {
  margin: 0 auto;
}

.saleaside {
  margin-top: 20px !important;
}

.saleaside img1 {
  height: 32.8vw;
}

.salemain img1{
  height: 23vw;
}

.sidebar .sidebar__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.sidebar .sidebar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
}

.sidebar .sidebar__header i {
  font-style: normal;
}

.sidebar .sidebar__header .sidebar__btn_mobile {
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .sidebar__header .sidebar__btn {
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px 16px;
}

.sidebar .sidebar__header .sidebar__caption {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 10px;
}

.sidebar .sidebar__list {
  margin: 0;
  padding: 0;
  height: auto;
  overflow: auto;
}

.sidebar .sidebar__list li {
  background-color: #f1f1f1;
  list-style: none;
  border-bottom: 1px solid #e8e8e8;
}

.sidebar .sidebar__list li label {
  padding: 15px 10px;
  width: auto;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  position: relative;
}

.sidebar .sidebar__list li label input {
  display: none;
}

.sidebar .sidebar__list li label span {
  z-index: 1;
  font-size: 12px;
  color: #868786;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  padding-left: 30px;
  height: 25px;
}

.sidebar .sidebar__list li.active {
  right: 0;
  height: 100%;
  width: calc(100% - 3px);
  top: 0;
  background-color: #ffffff;
  border-right: 3px solid #94d513;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.sidebar .sidebar__list li span::before {
  position: absolute;
  left: 0;
  top: 1px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #a8a8a8;
}

.sidebar .sidebar__list li.active span::after {
  left: 5px;
  position: absolute;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #94d513;
  border-radius: 50%;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  margin: 0;
  top: 6px;
}

.sidebar .sidebar__list li input:checked ~ * {
  opacity: 1;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.sidebar .sidebar__list li input:checked ~ span:after {
  opacity: 1;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.sidebar .sidebar__list li:last-child {
  border-bottom: none;
}

@media (max-width: 1500px) {
  .sidebar {
    padding: 20px 15px;
  }
  .sidebar .sidebar__header .sidebar__btn {
    font-size: 14px;
    padding: 5px 10px;
  }
  .sidebar .sidebar__header .sidebar__caption {
    font-size: 14px;
  }
  .sidebar .sidebar__list li label {
    padding: 10px 8px;
  }
}

@media (max-width: 780px) {
  .saleaside {
    display: none !important;
  }
  .sidebar {
    padding: 20px 5px;
    height: 950px;
  }
  .sidebar .sidebar__overlay {
    display: block;
  }
  .sidebar .sidebar__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar .sidebar__header .sidebar__btn {
    display: none;
  }
  .sidebar .sidebar__header .sidebar__caption {
    display: block;
  }
  .sidebar .sidebar__header .sidebar__btn_mobile {
    display: block;
    padding: 0;
    padding: 5px 0;
  }
  .sidebar .sidebar__list {
    display: none;
  }
}

@media (min-width: 780px) {
  .sidebar__btn_mobile {
    display: none !important;
  }
  .sidebar__btn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
/*# sourceMappingURL=sidebar.css.map */
