.sidebar {
  height: 100%;
  min-height: 100vh;
  background-color: #e6e6e6;
  padding: 40px 30px;
  box-sizing: border-box;
  position: relative;
  .sidebar__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
  }
  .sidebar__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #333333;
    i {
      font-style: normal;
    }
    .sidebar__btn_mobile {
      background: transparent;
      border: none;
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
      display: none;
      align-items: center;
    }
    .sidebar__btn {
      background: transparent;
      border: none;
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 5px 16px;
    }
    .sidebar__caption {
      font-size: 16px;
      text-transform: uppercase;
      color: #ffffff;
      margin-left: 10px;
    }
  }
  .sidebar__list {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: auto;
    li {
      list-style: none;
      border-bottom: 1px solid #e8e8e8;
      label {
        padding: 15px 10px;
        width: auto;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        position: relative;
        input {
          display: none;
        }
        span {
          z-index: 1;
          font-size: 12px;
          color: #868786;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          position: relative;
          padding-left: 30px;
          height: 25px;
        }
        .active {
          opacity: 0;
          position: absolute;
          right: 0;
          height: 100%;
          width: calc(100% - 3px);
          top: 0;
          background-color: #ffffff;
          border-right: 3px solid #94d513;
          transition: 0.1s ease-in-out;
        }
        span::before {
          position: absolute;
          left: 0;
          top: 1px;
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: #ffffff;
          border-radius: 50%;
          border: 1px solid #a8a8a8;
        }
        span::after {
          opacity: 0;
          left: 5px;
          position: absolute;
          content: "";
          display: inline-block;
          width: 12px;
          height: 12px;
          background-color: #94d513;
          border-radius: 50%;
          transition: 0.1s ease-in-out;
          margin: 0;
          top: 6px;
        }
        input:checked ~ * {
          opacity: 1;
          transition: 0.1s ease-in-out;
        }
        input:checked ~ span:after {
          opacity: 1;
          transition: 0.1s ease-in-out;
        }
      }
    }
    li:last-child {
      border-bottom: none;
    }
  }
}

@media (max-width: 1500px) {
  .sidebar {
    padding: 20px 15px;
    .sidebar__header {
      .sidebar__btn {
        font-size: 14px;
        padding: 5px 10px;
      }
      .sidebar__caption {
        font-size: 14px;
      }
    }
    .sidebar__list {
      li {
        label {
          padding: 10px 8px;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .sidebar {
    padding: 20px 5px;
    .sidebar__overlay {
      display: block;
    }
    .sidebar__header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .sidebar__btn {
        display: none;
      }
      .sidebar__caption {
        display: block;
      }
      .sidebar__btn_mobile {
        display: block;
        padding: 0;
        padding: 5px 0;
      }
    }
    .sidebar__list {
      display: none;
    }
  }
}

@media (min-width: 780px) {
  .sidebar__btn_mobile {
    display: none!important;
  }
  .sidebar__btn {
    display: flex!important;
  }
}