{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Удалить -->
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="yandex-verification" content="7069ee2afd6847fb" />
    <!-- Удалить -->
    <title>Каталог жалюзи и штор</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/screen.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/card.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/sweet-alert.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/galery.css' %}"> {{ yandex_counter|safe }}
    <link rel="stylesheet" href="{% static 'app/css/normalize-5.0.0.css' %}">


    <script type="text/javascript" src="{% static 'app/js/jquery-3.3.1.min.js' %}"></script>
</head>

<body onload="init()">
    <div class="grid">
        <header class="main__header">
            <div class="main__contact logo">
                <img src="{% static 'app/img/logo.svg' %}" height="50" alt="logo">
                <h1 class="main__caption">Каталог жалюзи и штор</h1>
            </div>
            <a class="call_free gradient trigger">Вызвать замерщика БЕСПЛАТНО</a>
            <div class="modal-wrapper">
              <div class="modal">
                <div class="head">
                    <h5>Заказать замерщика</h5>
                </div>
                <div class="content">
                    <div class="text">
                        Заполните форму, и мы перезвоним Вам в ближайшее рабочее время, как только получим это сообщение.
                    </div>
                    <form id="contactForm" action="" method="POST" class="contact-form">
                        {% csrf_token %}
                        <div class="name">
                            <label for="name">Как к Вам обращаться?</label>
                            <input name="name" type="text" class="form-control" id="name" placeholder=" Имя   " required>
                        </div>
                        <div class="phone">
                            <label for="phone">Телефон</label>
                            <input name="phone" type="tel" class="form-control" id="phone" placeholder=" +7(   )  " required>
                        </div>
                        <div class="address">
                            <label for="address">Адрес</label>
                            <input name="address" type="text" class="form-control" id="address" placeholder=" Адрес   " required>
                        </div>
                        <div class="politics">
                            <label for="politics"></label>
                            <input type="checkbox" id="politics">
                            <p>Даю согласие на обработку моих персональных данных, согласно Политике конфедициальности</p>
                        </div>
                        <input type="submit" class="gradient no_disabled" value="Отправить" id="callForm"  disabled>
                    </form>
                </div>
              </div>
            </div>
            <div class="main__contact call">
                <img src="{% static 'app/img/smartphone.svg' %}" height="19" alt="phone">
                <div class="wrapper">
                    <span>Сделать заказ</span>
                    <a href="">{{ phone_number }}</a>
                </div>
            </div>
        </header>
        <aside class="sidebar" id="sidebar">
            <div class="sidebar__overlay"></div>
            <header class="sidebar__header">
                <button class="sidebar__btn_mobile" id="sidebar__btn_mobile">
                    <i>&#9776;</i>
                </button>
                <button class="sidebar__btn" id="sidebar__btn"><i>&#9776;</i>
                    <h3 class="sidebar__caption">Фильтры</h3></button>
            </header>
            <ul class="sidebar__list">
                {% for filter_name in filters_names %}
                <li data-id="{{ filter_name.id }}" class="update_filters">
                    <label>
                        <input type="checkbox">
                        <span>{{filter_name.filter_name}}</span>
                    </label>
                </li>
                {% endfor %}
            </ul>
            <div id="viewport1">
                <div class="saleaside" id="box1">
                    {% for img in saleaside %}
                        {% if img != None %}
                            {% if forloop.counter0 == 0 %}
                                <figure class="slide jbs-current" data-proportion-h="1.5">
                            {% else %}
                                <figure class="slide" data-proportion-h="1.5">
                            {% endif %}
                                    <img src="media/{{img.image}}" onerror="main_img_none()" alt="sale_luming">
                                </figure>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </aside>
        <main class="main" id="main">
            <div class="main__content">

                {% include "app/products.html" %}

            </div>
        </main>
    </div>

    <section class="galery" id="galery">
        <div class="overlay"></div>
        <div class="content">
            <div class="controls">
                <button class="last control" id="galery__last_btn">&#8249;</button>
                <button class="next control" id="galery__next_btn">&#8250;</button>
            </div>
            <div class="photos"></div>
        </div>
    </section>

    <script type="text/javascript" src="{% static 'app/js/hammer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/sweet-alert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/inputmask.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/jquery.inputmask.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/box-slider-all.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/stickjaw.min.js' %}"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var $images = $('.saleaside img');
            var imagesLeftToLoad = $images.length;
            $images.on('load', function () {
              imagesLeftToLoad -= 1;
                init();
            });

            var init = function () {
              var $box = $('.saleaside')
                , slideInterval = 5000
                , defaultOptions = {
                      speed: 800
                    , autoScroll: true
                    , timeout: slideInterval
                    , effect: 'blindLeft'
                    , blindCount: 6
                  }
                , effectOptions = {
                    'blindLeft': {blindCount: 15}
                  , 'blindDown': {blindCount: 15}
                  , 'tile3d': {tileRows: 6, rowOffset: 80}
                  , 'tile': {tileRows: 6, rowOffset: 80}
                };

              // initialize the plugin with the desired settings
              $box.boxSlider(defaultOptions);
            };
            return false;
		  });

        var SJ_init = {
            options: {
                hlw: true,
                wlh: true,
                hlt: true,
                wlt: true,
                alo: true,
                ohlt: true,
                owlt: true
            },
            settings: {
                windowResize: true,
                writeHystory: true
            }
        };

        var e = new SJ(SJ_init);

        function aside_img_none() {
            $(this).hide();
        }

        $(function () {
            $('.modal #phone').inputmask({
                mask: "+7(XXX)XXX-XX-XX",
                definitions: {
                    'X': {
                        validator: "[0-9]",
                    }
                }
            });
        });

        let submit = document.getElementById('callForm');
        document.getElementById('politics').onclick = function (qualifiedName, value) {
            if (this.checked) {
                submit.removeAttribute('disabled');
                submit.classList.remove('no_disabled');
            } else {
                submit.setAttribute('disabled', value);
                submit.classList.add('no_disabled');
            }
        };

        submit.onclick = function() {
            let dataValid = true;

            $('.modal').find('.form-control').each(function (index, value) {
                let self = $(this);
                if (self.val() === '') {
                    self.addClass('empty_field');
                    setTimeout(function () {
                        self.removeClass('empty_field');
                    }, 800);
                    dataValid = false;
                } else {
                    self.removeClass('empty_field');
                }
            });
            if (dataValid === true) {
                sendAjaxFormC('result_form', 'contactForm', 'call');
                return false;
            }
        };

        function sendAjaxFormC(result_form, ajax_form, url) {
            $.ajax({
                url:     url, //url страницы ()
                type:     'POST', //метод отправки
                dataType: 'html', //формат данных
                data: $("#"+ajax_form).serialize(),  // Сеарилизуем объект
                success: function(response) { //Данные отправлены успешно
                    swal({
                        title: "Ура!",
                        text: "Ваша просьба перезвонить отправлена!",
                        type: "success",
                        confirmButtonText: "Закрыть"
                    });
                    $('#contactForm').find('input[type=text], textarea').val('');
                    $('#contactForm').find('input[type=checkbox]').prop('checked', false);
                },
                error: function(response) { // Данные не отправлены
                    swal({
                        title: "Что-то пошло не так!",
                        text: "Попробуйте еще раз",
                        type: "error",
                        confirmButtonText: "Закрыть"
                    });
                }
            });
        }

        $( document ).ready(function () {
          $('.trigger').on('click', function() {
             $('.modal-wrapper').toggleClass('open');
             return false;
          });
        });
        $(document).click(function (e) {
            if ($(e.target).is('.modal-wrapper')) {
                $('.modal-wrapper').removeClass('open');
            }
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $('li').on('click', function(e) {
            e.stopPropagation();
            e.preventDefault();
            $(this).toggleClass('active');

            let ids = $('li.active').map(function() {
                return $(this).attr("data-id");
            }).get().join(',');;

            let data = {
                'ids_': ids,
                'csrfmiddlewaretoken': getCookie('csrftoken')
            };

            $.ajax({
                url: '/update_filters/',
                method: 'POST',
                data: data,
                success: function (data) {
                    // $('.main__content').load('app/products.html');
                    $('.main__content').html(data);
                    init();
                },
                error: function (d) {
                }
            });
        });

    </script>

</body>

</html>