{% for product in products%}
    {% if forloop.counter0 == 3 and forloop.counter0 != 0 %}
        <div id="viewport">
            <div class="salemain" id="box">
                {% for img in salemain %}
                    {% if img != None %}
                        {% if forloop.counter0 == 0 %}
                            <figure class="slide jbs-current" data-proportion-h="0.32">
                        {% else %}
                            <figure class="slide" data-proportion-h="0.32">
                        {% endif %}
                                <img src="media/{{img.image}}" onerror="main_img_none()" alt="sale_luming">
                            </figure>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
        <div class="main__card card">
            <div class="card__images">
                {% for k in product.images_set.all %}
                    {% if forloop.counter < 5 %}
                        <img src='media/{{k.image}}' alt="">
                    {% endif %}
                {% endfor %}
                <footer class="card__footer">
                    <div class="card__control"></div>
                </footer>
            </div>
            <div class="card__text">
                <header class="card__header">
                    <h4 class="card__title">{{product.name}}</h4>
                </header>
                <div class="card__product__text">
                    {{product.text}}
                </div>
                <footer class="card__footer">
                    <span class="card__price">
                      <i>{{product.price}}<small>&#8381;</small> </i>за м<sup>2</sup>
                    </span>
                    <a class="card__btn gradient trigger_more_photo" onclick="more_photo_open({{product.id}})">
                        больше фото
                    </a>
                </footer>
            </div>
        </div>
    <div class="modal-wrapper_more_photo {{product.id}}">
      <div class="modal">
        <div class="content">
            <div class="head">
                <h5>все фото</h5>
            </div>
            <div class="card__images">
                {% for z in product.images_set.all %}
                    <img src='media/{{z.image}}' alt="">
                {% endfor %}
                <a class="last {{product.id}} control" id="galery__last_btn">&#8249;</a>
                <a class="next {{product.id}} control" id="galery__next_btn">&#8250;</a>
                <footer class="card__footer">
                    <div class="card__control"></div>
                </footer>
            </div>
        </div>
      </div>
    </div>
{% endfor %}
<script>
function load_sale() {
    var $images = $('#box .slide > img');
    var imagesLeftToLoad = $images.length;
    $images.on('load', function () {
      imagesLeftToLoad -= 1;

      if (imagesLeftToLoad === 0) {
        init();
      }
    });

    var init = function () {

      var $box = $('#box')
        , slideInterval = 5000
        , defaultOptions = {
              speed: 1200
            , autoScroll: true
            , timeout: slideInterval
            , effect: 'blindDown'
            , responsive: true
          }
        , effectOptions = {
            'blindLeft': {blindCount: 15}
          , 'blindDown': {blindCount: 15}
          , 'tile3d': {tileRows: 6, rowOffset: 80}
          , 'tile': {tileRows: 6, rowOffset: 80}
        };

      // initialize the plugin with the desired settings
      $box.boxSlider(defaultOptions);

        var SJ_init = {
            options: {
                hlw: true,
                wlh: true,
                hlt: true,
                wlt: true,
                alo: true,
                ohlt: true,
                owlt: true
            },
            settings: {
                windowResize: true,
                writeHystory: true
            }
        };

        var e = new SJ(SJ_init);
    };
}



function main_img_none() {
    $('.salemain img').hide();
}

document.addEventListener('DOMContentLoaded' ,function () {
    load_sale();
    const len = document.querySelectorAll('.main__content .main__card');
    len.forEach((x) => {
        if (x.querySelectorAll('img').length === 0) {
            x.style.display = 'none';
        }
    })
});

function more_photo_open(k) {
    $('.modal-wrapper_more_photo.' + k).addClass('open');
    const cards = document.querySelectorAll('.main__content .modal .content');
    cards.forEach((card) => {
        if (card !== undefined) {
            const photoQuantity = card.querySelectorAll('.card__images img').length;
            if (photoQuantity !== 0) {
                const cardControl = card.querySelector('.card__control');

                if (card.querySelector('.card__control div') === null) {
                    const cardPhotos = card.querySelectorAll('.card__images img');
                    const cardPhotosContainer = card.querySelector('.card__images');

                    for (let i = 0; i < photoQuantity; i++) {
                        cardControl.innerHTML += `<div data-index="${i}"></div>`;
                        cardPhotos[i].setAttribute('data-index', i);
                        if (i === 0) {
                            cardControl.querySelector('div[data-index="0"]').classList.add('active');
                        }
                    }

                    // cardControl.firstChild.classList.add('active'); # подсвечивает кружок зеленым

                    const cardControlContainer = document.createElement('div');
                    cardControlContainer.classList.add('card__control_container');
                    cardPhotosContainer.append(cardControlContainer);

                    for (let i = 0; i < photoQuantity; i++) {
                        cardControlContainer.innerHTML += `
                    <div style="width: ${100 / photoQuantity}%" class="card__photo_control" data-index="${i}"></div>`;
                    }

                    const cardControls = card.querySelectorAll('.card__control div');
                    let index = 0;
                    cardControls.forEach((control) => {
                        control.addEventListener('mouseover', (e) => {
                            index = control.dataset.index;

                            cardPhotos.forEach((photo) => {
                                photo.style.left = `calc(-100% * ${index})`;
                            });

                            cardControls.forEach((control) => {
                                control.classList.remove('active');
                            });
                            control.classList.add('active');
                        });
                    });

                    $('.next').click(function (e) {
                        const cardPhotos = card.querySelectorAll('.card__images img');
                        const photos = card.querySelector('.card__images');
                        const cardControl = card.querySelector('div.active');
                        let i = cardControl.getAttribute('data-index');
                        if (i < cardPhotos.length - 1) {
                            i++;
                            cardPhotos.forEach((photo) => {
                                photo.style.left = `calc(-100% * ${i})`;
                            });
                            let last_index = i - 1;
                            photos.querySelector('div[data-index="' + last_index + '"]').classList.remove('active');
                            photos.querySelector('div[data-index="' + i + '"]').classList.add('active');
                        } else {
                            i = 0;
                            cardPhotos.forEach((photo) => {
                                photo.style.left = `calc(-100% * ${i})`;
                            });

                            let last_index = cardPhotos.length - 1;
                            photos.querySelector('div[data-index="' + last_index + '"]').classList.remove('active');
                            photos.querySelector('div[data-index="' + i + '"]').classList.add('active');
                        }
                    });

                    $('.last').click(function (e) {
                        const cardPhotos = card.querySelectorAll('.card__images img');
                        const photos = card.querySelector('.card__images');
                        const cardControl = card.querySelector('.card__control div.active');
                        let i = cardControl.getAttribute('data-index');
                        if (i > 0) {
                            i--;
                            cardPhotos.forEach((photo) => {
                                photo.style.left = `calc(-100% * ${i})`;
                            });
                            let next_index = i + 1;
                            photos.querySelector('div[data-index="' + next_index + '"]').classList.remove('active');
                            photos.querySelector('div[data-index="' + i + '"]').classList.add('active');
                        } else {
                            i = cardPhotos.length - 1;
                            cardPhotos.forEach((photo) => {
                                photo.style.left = `calc(-100% * ${i})`;
                            });

                            let next_index = cardPhotos.length - 1;
                            photos.querySelector('div[data-index="' + 0 + '"]').classList.remove('active');
                            photos.querySelector('div[data-index="' + next_index + '"]').classList.add('active');
                        }
                    });
                }
            }
        }

    })
}

$(document).click(function(e) {
    if ($(e.target).is('.modal-wrapper_more_photo')) {
        $('.modal-wrapper_more_photo').removeClass('open');
    }
});

</script>